.App {
  padding: 30px;
  margin: 0 auto;
  min-height: 100vh;
}

.results-grid {
  margin-top: 24px;
}

.result-card {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attack-image {
  max-width: 100%;
  margin: 16px 0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.results-text {
  white-space: pre-wrap;
  text-align: left;
  padding: 12px;
  border-radius: 4px;
  font-family: monospace;
  margin-top: 16px;
  border-width: 1px;
  border-style: solid;
  overflow-x: auto;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-card-body .ant-typography {
  flex-grow: 1;
}
